.places__paragraph {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #fff;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.places__paragraph:last-child{
  margin-top: 26px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
