.header__lang-link {
  text-decoration: none;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
