.lead__picture {
  width: 100%;
  height: auto;
  margin-top: 64px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__picture {
    margin-top: 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__picture {
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__picture {
    margin-top: 40px;
  }
}
