.intro__subtitle {
  margin: 0;
  max-width: 690px;

  margin-top: 40px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 163%;
  text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__subtitle {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .intro__subtitle {
    font-size: 16px;
    line-height: 163%;
  }
}
