.places {
  margin-top: 92px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    margin-top: 88px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin-top: 64px;
  }
}
