.places__title {
  margin: 0;

  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 767px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: calc(100% - 32px);
  }
}
