.cover__subtitle {
  margin: 0;

  max-width: 360px;
  margin-top: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  z-index: 4;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    width: calc(100% - 32px);
  }
}
