.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 96px);
  max-width: 1184px;
  min-height: 52px;
  margin-top: 28px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 32px);
    min-height: 42px;
    margin-top: 16px;
  }
}
