.logo {
  width: 177px;
  height: 52px;

  background-image: url(../../images/logo/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 142px;
    height: 42px;
  }
}
