.footer__copyright {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 48px;
    line-height: 14px;
  }
}
