.lead__figcaption {
  margin: 0;
  margin-top: 8px;
  align-self: flex-start;

  letter-spacing: 1.5px;
  font-size: 10px;
  color: #fff;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__figcaption {
    margin-left: calc(48px / 2);
  }
}

@media screen and (max-width: 767px) {
  .lead__figcaption {
    margin-left: calc(32px / 2);
  }
}
