.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 92px;
  width: 100%;
  /*height: 755px;*/
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 66px;
  }
}
