.places__place {
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: auto 48px auto auto auto;
  grid-auto-flow: column;

  column-gap: 40px;
  margin-bottom: 80px;
}
.places__place:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .places__place {
    grid-template-columns: 440px auto;
    column-gap: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places__place {
    grid-template-columns: 340px auto;
    column-gap: 28px;
    margin-bottom: 73px;
  }
  .places__place:nth-last-child(2) {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .places__place {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
    justify-items: center;
    column-gap: 0;
    margin-bottom: 50px;
  }
}
