@import url(../styles/normalize.css);

@import url(../blocks/content/content.css);

@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/cover.css);

@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__links-item/footer__links-item.css);
@import url(../blocks/footer/__links-wrapper/footer__links-wrapper.css);
@import url(../blocks/footer/__links-list/footer__links-list.css);
@import url(../blocks/footer/footer.css);

@import url(../blocks/header/__lang-link-item/header__lang-link-item.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);

@import url(../blocks/intro/__list-stroke/intro__list-stroke.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-stroke-stats/intro__list-stroke-stats.css);
@import url(../blocks/intro/__subtitle/intro__subtitle.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/intro.css);

@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__picture/lead__picture.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/lead.css);

@import url(../blocks/link-hover-opacity/link-hover-opacity.css);

@import url(../blocks/logo/logo.css);

@import url(../blocks/page/page.css);

@import url(../blocks/photo-grid/__image/photo-grid__iamge.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__list/photo-grid__list.css);
@import url(../blocks/photo-grid/photo-grid.css);

@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__link/places__link.css);
@import url(../blocks/places/__paragraph/places__paragraph.css);
@import url(../blocks/places/__place/places__place.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__url-heading/places__url-heading.css);
@import url(../blocks/places/__website/places__website.css);
@import url(../blocks/places/places.css);

@import url(../blocks/section/section.css);
@import url(../blocks/section/_size_wide/section_size_wide.css);


@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
       url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
       url("../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
       url("../fonts/Inter-Black.woff") format("woff");
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    width: calc(100% - 96px);
  }
  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px 14px;
  }

  .places__place {
    grid-template-columns: 440px auto;
    column-gap: 32px;
  }

  .footer {
    width: calc(100% - 96px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }

  .lead {
    width: 100%;
  }
  .lead__caption {
    margin-left: calc(48px / 2);
  }

  .intro {
    width: calc(100% - 48px);
  }
  .intro__title {
    max-width: 100%;
  }
  .intro__subtitle {
    max-width: 100%;
  }
  .intro__list {
    max-width: 100%;
  }

  .photo-grid {
    margin-top: 88px;
    width: calc(100% - 48px);
  }
  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px 16px;
  }

  .places {
    margin-top: 88px;
    width: calc(100% - 48px);
  }

  .places__place {
    grid-template-columns: 340px auto;
    column-gap: 28px;
    margin-bottom: 73px;
  }
  .places__place:nth-last-child(2) {
    margin-bottom: 72px;
  }
  .places__title {
    font-size: 42px;
    line-height: 46px;
  }
  .places__url-heading {
    line-height: 12px;
  }
  .places__paragraph {
    font-size: 16px;
  }

  .footer {
    margin-top: 88px;
    width: calc(100% - 48px);
  }
}
@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 32px);
    height: 42px;
  }
  .logo {
    width: 142px;
    height: 42px;
  }
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .lead {
    margin-top: 48px;
    width: 100%;
  }
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    width: calc(100% - 32px);
  }
  .lead__subtitle {
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    width: calc(100% - 32px);
  }
  .lead__image {
    margin-top: 40px;
  }
  .lead__caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin-left: calc(32px / 2);
  }

  .intro {
    margin-top: 64px;
    width: calc(100% - 32px);
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
  .intro__subtitle {
    font-size: 16px;
    line-height: 163%;
  }
  .intro__list {
    margin-top: 34px;
  }

  .photo-grid {
    margin-top: 64px;
    width: calc(100% - 32px);
  }
  .photo-grid__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px 12px;
  }

  .places {
    margin-top: 64px;
  }
  .places__place {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
    justify-items: center;
    column-gap: 0;
    margin-bottom: 50px;
  }
  .places__title {
    font-size: 32px;
    line-height: 35px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: calc(100% - 32px);
  }

  .places__website {
    margin-top: 32px;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: calc(100% - 32px);
  }
  .places__url-heading {
    line-height: 12px;
  }

  .places__image {
    margin-top: 32px;

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .places__paragraph {
    margin-top: 32px;

    font-size: 16px;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    width: calc(100% - 32px);
  }
  .places__paragraph:last-child {
    margin-top: 25px;

    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .cover {
    margin-top: 66px;
  }
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    width: calc(100% - 32px);
  }
  .cover__subtitle {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    width: calc(100% - 32px);
  }

  .footer {
    flex-direction: column;
    justify-content: none;
    align-self: start;
    margin-top: 64px;
    max-width: 186px;
    margin-left: calc(32px / 2);
  }
  .footer__links-ul {
    flex-direction: column;
  }

  .footer__links-li {
    margin-bottom: 32px;
  }
  .footer__links-li:last-child {
    margin-bottom: 0;
  }

  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }

  .footer__copyright {
    margin-top: 48px;
    line-height: 14px;
  }
}
