.cover__background {
  position: relative;
  width: 100%;
  /*min-height: calc(100vw / 1.6);*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url(../../../images/trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;
  aspect-ratio: 2048 / 1280;

  text-decoration: none;
}

.cover__background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #2a2c2f;
  opacity: .3;

  transition: opacity 0.3s ease;
}
.cover__background:hover::before {
  opacity:.8;
}

/*@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__background {
    min-height: calc(1024px / 1.6);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__background {
    min-height: calc(768px / 1.6);
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    min-height: calc(320px / 1.6);
  }
}*/



